<div class="container" id="default">

    <!-- Drag n Drop theme Starts -->
    <div *ngIf="theme == 'inc-dragNDrop'" id="dragNDrop" [ngClass]="(hideSelectBtn && hideResetBtn) ? null : 'dragNDropBtmPad'"
        class="dragNDrop">
        <div style="position:relative;">
            <div id="div1" class="div1 afu-dragndrop-box" (drop)="drop($event)" (dragover)="allowDrop($event)">
                <p class="afu-dragndrop-text">Drag N Drop</p>
            </div>
            <!-- <span class='label label-info' id="upload-file-info{{id}}">{{selectedFiles[0]?.name}}</span> -->
        </div>
    </div>
    <!-- Drag n Drop theme Ends -->

    <label for="sel{{id}}" class="btn btn-primary btn-sm afu-select-btn" *ngIf="!hideSelectBtn">Select File<span *ngIf="multiple">s</span></label>
    <input type="file" id="sel{{id}}" style="display: none" *ngIf="!hideSelectBtn" (change)="onChange($event)" title="Select file"
        name="files[]" [accept]=formatsAllowed [attr.multiple]="multiple ? '' : null" />
    <button class="btn btn-info btn-sm resetBtn afu-reset-btn" (click)="resetFileUpload()" *ngIf="!hideResetBtn">Reset</button>
    <br *ngIf="!hideSelectBtn">
    <p class="constraints-info afu-constraints-info">({{formatsAllowed}}) Size limit- {{(convertSize(maxSize
        *1024000))}}</p>
    <!--Selected file list-->
    <div class="row afu-valid-file" *ngFor="let sf of selectedFiles;let i=index">
        <div class="col-xs-1"><img [src]="sf.objectURL" *ngIf="isImage(sf)" [width]="previewWidth" /></div>
        <div class="col-xs-2 textOverflow"><input type="text" (change)="changeInputVal($event)" (focus)="showNameInputbox(i)" (focusout)="hideNameInputbox(i)"  [ngClass]="sf.showNameInput ? 'text-primary' : 'fileNameInput text-primary'" value={{sf.name}}></div>
        <div class="col-xs-1 size-convert"><strong>{{convertSize(sf.size)}}</strong></div>
        <div class="col-xs-2">
            <a class="glyphicon glyphicon-remove-sign col-xs-1" (click)="onRemoveFile(i)"></a>
            <a class="glyphicon glyphicon-edit col-xs-1" (click)="onEditFile(i)"></a>
        </div>
        <!--  <input class="col-xs-3 progress caption"  type="text"  placeholder="Caption.."  [(ngModel)]="Caption[i]"  *ngIf="uploadClick"/> -->
        <div class="progress col-xs-3 padMarg afu-progress-bar" *ngIf="singleFile && progressBarShow && !hideProgressBar">
            <span class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width':percentComplete+'%'}">{{percentComplete}}%</span>
        </div>
        <a class="col-xs-1" role="button" (click)="removeFile(i,'sf')" *ngIf="uploadClick"><i class="fa fa-times"></i></a>
    </div>
    <!--Invalid file list-->
    <div class="row text-danger afu-invalid-file" *ngFor="let na of notAllowedList;let j=index">
        <div class="col-xs-1"></div>
        <div class="col-xs-2 textOverflow"><span>{{na['fileName']}}</span></div>
        <div class="col-xs-1 size-convert"><strong>({{na['fileSize']}})</strong></div>
        <div class="col-xs-2"><a class="glyphicon glyphicon-remove-sign col-xs-1 delFileIcon" role="button" (click)="removeFile(j,'na')"
                *ngIf="uploadClick"></a></div>
    </div>

    <p *ngIf="uploadMsg" class="{{uploadMsgClass}} + afu-upload-status">{{uploadMsgText}}<p>
            <div *ngIf="!singleFile && progressBarShow && !hideProgressBar">
                <div class="progress col-xs-4 padMarg afu-progress-bar">
                    <span class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width':percentComplete+'%'}">{{percentComplete}}%</span>
                </div>
                <br>
                <br>
            </div>
            <button class="btn btn-success afu-upload-btn" type="button" (click)="uploadFiles()" [disabled]=!uploadBtn>{{uploadBtnText}}</button>
            <br>
</div>