<!--
<button (click)='uploadFile()'>
  {{btnLable}}
</button>
-->


<!-- Custom dialog/model-->
<!-- <div class = 'bg-test'>
  <button class='btn btn-primary' (click)="openModal('custom-modal-1')">Upload a file</button>
</div>


<mz-modal id="custom-modal-1">
  <form class="" id="upload-new-file">
    <div class="">
      <div class="controls" style="position: relative;">
        <input name="file" type="file" (change)="onFileSelect($event)" required>
        <p class=""></p>
      </div>

    </div>

    <div class="">
     <label class="">File Name</label> 
      <div class="controls">
        <input type="text"  class="form-control" name="file_name" required>
      </div>
    </div>

    <div style="margin-top: 5px;">
      <button type="submit" class="btn btn-primary" (click)="onFileUpload($event)">{{btnLable}}</button>
      <button class="btn btn-primary" (click)="closeModal('custom-modal-1');" style="margin-left: 5px;">Cancel</button>
    </div>

    <div>

    </div>
  </form>
</mz-modal> -->
<p class="bg-test"> Testing view encapsulation </p>
<!-- <angular-file-uploader [config]="afuConfig"></angular-file-uploader> -->
<app-file-cust-picker [config]='afuConfig'></app-file-cust-picker>
    