.btn-primary,
.ui-button-primary {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 5px 11px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff !important;
  text-align: center;
  vertical-align: middle;
  background-color: #1776BF;
  background-image: none;
  border: 1px solid #1d87cd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  *margin-left: .3em;
}

.form-actions {
  padding: 17px 20px 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: transparent;
  *zoom: 1;
}